html {
    scroll-behavior: smooth;
}

body {
    background-color: #eff0e4;
    font-family: "Liter", serif;
    border: 0px;
    padding: 0px;
}

.container {
    display: flex;
    width: 900px;
    padding:20px;
    margin: 40px auto;
    background-color:#ddf5e7;
    border-radius: 20px;
}

h1, h2, h3 {
    font-family: "Merriweather", serif;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

h3 {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

p {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

nav {
    background-color: coral;
    padding: 5px;
    filter: drop-shadow(5px 5px 5px #302b2b);
    position: fixed;
    width: 100%;
    top: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 900px;
    margin: 0 auto;
}

